#pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
}

#title {
    -fx-font-size: 15px;
    -fx-font-family: sans-serif;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
}

#vbox {
    -fx-padding: 20px;

}

#categoryName {
    -fx-padding: 10px;
}

#messageError {
    -fx-text-fill: #db0000;
    -fx-tab-size: 25px;
}

.message {
    -fx-text-fill: #db0000;
    -fx-tab-size: 25px;
}

.button {
    -fx-font-size: 16px;
    -fx-pref-width: 250px;
    -fx-pref-height: 10px;
    -fx-background-color: #db0000;
    -fx-text-fill: #cccccc;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: #cccccc;
}

.table-view .column-header .label,
.table-view .filler {
    -fx-background-color: #db0000;
    -fx-size: 30px;
    -fx-text-fill: #cccccc;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 0 0;
    -fx-border-insets: 0;
}


.table-cell {
    -fx-alignment: CENTER;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-row-cell:even {
    -fx-background-color: #eeeeee;

}

.table-row-cell:odd {
    -fx-background-color: #F4F4F4F4;
}

.chosseCategory {
    -fx-background-color: white;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-pref-width: 250px;
}