#pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
}

#title {
    -fx-font-size: 17px;
    -fx-font-family: sans-serif;
    -fx-text-fill: #000000;
    -fx-text-alignment: CENTER;
    -fx-wrap-text: "true";
}

#vbox {
    -fx-padding: 20px;

}

#messageError,
#messageError1,
#messageError2,
#messageError3 {
    -fx-text-fill: #db0000;
    -fx-font-size: 16px;
    -fx-alignment: "center";
    -fx-text-fill: #db0000;
    -fx-wrap-text: "true"
}

.message {
    -fx-text-fill: #db0000;
    -fx-tab-size: 25px;
}

.button {
    -fx-font-size: 15px;

    -fx-pref-width: 250px;
    -fx-pref-height: 10px;
    -fx-background-color: #db0000;
    -fx-text-fill: #cccccc;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: #cccccc;
}


.table-view .column-header .label,
.table-view .filler {
    -fx-background-color: #db0000;
    -fx-size: 30px;
    -fx-text-fill: #ffffff;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 0 0;
    -fx-border-insets: 0;
}


.table-cell {
    -fx-alignment: CENTER;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-row-cell:even {
    -fx-background-color: #eeeeee;

}

.table-row-cell:odd {
    -fx-background-color: #F4F4F4F4;
}


.chosseCategory {
    -fx-background-color: white;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-pref-width: 250px;
}

#showCategory,
#showSerie,
#showSeason,
#showEpisode {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #db0000;
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-border-color: #db0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;

    -fx-text-alignment: center;
}



#comboBoxSeason,
#comboBoxEpisode,
#comboBox {
    -fx-alignment: center;
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #db0000;
    -fx-border-radius: 0px;
}

#comboBoxSeason .arrow,
#comboBoxEpisode .arrow,
#comboBox .arrow {
    -fx-background-color: #564d4d;
}

#comboBoxSeason .arrow-button,
#comboBoxEpisode .arrow-button,
#comboBox .arrow-button {
    -fx-padding: 1px;

}

#findButton {
    -fx-pref-width: 100px;
    -fx-max-height: 100px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

#categoryName,
#episodeDuration,
#episodeNumber {
    -fx-padding: 10px;
    -fx-pref-width: 250px;
    -fx-max-height: 100px;
    -fx-border-color: #db0000;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;

}

#showSerie,
#showSeason,
#showEpisode {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #db0000;
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
    -fx-border-color: #db0000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;

    -fx-text-alignment: center;
}

#episodeDuration {
    -fx-background-color: #f0f0f0;
    -fx-text-inner-color: #333333;
    -fx-prompt-text-fill: #999999;
    -fx-font-size: 14px;
    -fx-padding: 6px;
    -fx-border-color: #db0000;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;

}

#centerPane {
    -fx-background-color: #F08A80;
    /* color de fondo */
}

.menu-bar {
    -fx-background-color: #db0000;
    /* color de fondo de la barra de menú */
    -fx-text-fill: #f0f0f0;
    ;
    -fx-font-size: 17px;
    -fx-font-family: sans-serif;
    -fx-text-alignment: center;
    /* color del texto de la barra de menú */
}

.menu {
    -fx-background-color: transparent;
    /* color de fondo del menú desplegable */
}

.menu-item {
    -fx-text-fill: #db0000;
    -fx-font-size: 15px;
    /* color del texto de los elementos del menú */
}

.vbox {
    -fx-background-color: #db0000;
    /* color de fondo de los VBox */
    -fx-border-color: #ccc;
    /* color del borde */
    -fx-border-width: 1px;
    /* ancho del borde */
    -fx-border-radius: 20px;
    /* radio de los bordes */
    -fx-padding: 10px;
    /* espacio interno */
}

.vbox>label {
    -fx-font-size: 100px;
    /* tamaño de fuente */
    -fx-font-weight: bold;
    /* negrita */
}

.vbox>image-view {
    -fx-effect: dropshadow(gaussian, #333, 5, 0.5, 0, 0);
    /* sombra */
}

.scroll-pane {
    -fx-background-color: transparent;
    /* color de fondo transparente */
    -fx-padding: 5px;
    /* espacio interno */
}

#rightPane,
#rightPane2 {
    -fx-background-color: #333;
    /* Color de fondo que deseas aplicar */
}

#buttonimg {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0px;
}

#serchCategory,
#playlists,
#search,
#profile {
    -fx-font-size: 15px;
    -fx-pref-width: 140px;
    -fx-pref-height: 10px;
    -fx-background-color: #db0000;
    -fx-text-fill: #333;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-color: #333333;
    -fx-border-width: 1px;
}

#hola {
    -fx-padding: 11px;
}

@media only screen and(min-width:600px) {
    .imagen {
        -fx-pref-width: 100;
        -fx-pref-height: 100;
    }
}